/* .section {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
img {
  max-width: 845px;
}
.blog-text {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.blog-text img {
  border-radius: 50px;
}
.blog-details {
  text-align: left;
}
.blog-writer {
  display: flex;
} */
