#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* 
.card {
  padding: 2em;
} */

/* singlecard component */
.mark-as-read {
  color: #6047ec;
  text-decoration: underline;
  margin-bottom: 1rem;
  font-weight: bold;
  border: 0;
  background-color: white;
}
.bookmark-btn {
  border: 0;
  background-color: white;
}
