/* exo 2 font */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Exo 2", sans-serif;
}
/* header */

.header img {
  border-radius: 50px;
}

/* singlecard component */
.mark-as-read {
  color: #6047ec;
  text-decoration: underline;
  margin-bottom: 1rem;
  font-weight: bold;
  border: 0;
  background-color: white;
}
